body {
  background-color: #011429;
  font-family: Verdana,sans-serif;
  font-size: 14px;
}

li {
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  background-color: #dac06a;
  border-radius: 10px;
  text-align: start;
}

h1 {
  text-align: center;
  color: #d34747;
}

.addButton {
  border: 0;
  border-radius: 0.3rem;
  background-color: rgb(2, 145, 2);
  color: beige;
  padding: 0.3rem;
  opacity: 0.8;
  transition: 0.3s;
}

.addButton:hover {
  opacity: 1;
  cursor: pointer;
}

.clearAllButton {
  border: 0;
  border-radius: 0.3rem;
  background-color: red;
  color: beige;
  padding: 0.3rem;
  opacity: 0.8;
  transition: 0.3s;
}

.clearAllButton:hover {
  opacity: 1;
  cursor: pointer;
}

.inputField {
  border-radius: 8px;
  padding: 0.3rem;
  width: 15rem;
}

.sourceUrl {
  color: white;
  transition: 0.3s;
}

.sourceUrl:hover {
  color: darkblue;
}

.productInfo {
  position: relative;
  color: black;
  width: fit-content;
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

.listOfItems {
  margin: 1.9rem;
}

.deleteButton {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  border-radius: 0.2rem;
  background-color: red;
  color: beige;
  padding: 0.3rem;
  opacity: 0.7;
  transition: 0.3s;
  width: 3rem;
}

.deleteButton:hover {
  opacity: 1;
  cursor: pointer;
}